<header>
	<nav class="navbar">
		<div class="container">
{% if page.is_preview %}
			<a class="navbar-brand" href="../../">ABBA</a>
{% else %}
			<a class="navbar-brand" href="/">{{ page.title }}</a>
{% endif %}
{% if page.is_autoindex or page.is_preview %}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#preview" aria-controls="preview" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="preview">
{% if page.is_preview %}
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="themes" role="button" data-bs-toggle="dropdown" aria-expanded="false">Themes</a>
						<ul class="dropdown-menu" aria-labelledby="themes">
							<a class="dropdown-item" href="../default/{{ page.name | remove: "index.html" }}">Default</a>
							<div class="dropdown-divider"></div>
{% assign css_pages = site.pages | where: "dir", "/abba/css/" %}
{% assign css_themes = "" | split: "," %}
{% for css_page in css_pages %}
{% assign theme = css_page.name | remove: ".scss" %}
{% unless theme == "default" %}
							<a class="dropdown-item" href="../{{ theme }}/{{ page.name | remove: "index.html" }}">{{ theme | capitalize }}</a>
{% endunless %}
{% endfor %}
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pages" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ page.css_filename | remove: ".css" | capitalize }}
						</a>
						<ul class="dropdown-menu" aria-labelledby="pages">
							<li><a class="dropdown-item" href="./">Autoindex</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="./error_401.html">Error 401</a></li>
							<li><a class="dropdown-item" href="./error_403.html">Error 403</a></li>
							<li><a class="dropdown-item" href="./error_404.html">Error 404</a></li>
							<li><a class="dropdown-item" href="./error_500.html">Error 500</a></li>
						</ul>
					</li>
				</ul>
{% endif %}
{% if page.is_autoindex %}
				<div class="d-flex">
					<input class="form-control" type="search" placeholder="Filter..." aria-label="Filter">
				</div>
{% endif %}
			</div>
{% endif %}
		</div>
	</nav>
</header>
<main style="display:none">
	<div class="container">
{% if page.is_autoindex %}
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb"></ol>
		</nav>
{% endif %}
