// Add some margin between the input field and the dropdown menu when the
// navbar is collapsed.
.form-inline {
	@extend .my-2;
	@extend .my-lg-0;
}

// Display the themes on 3 columns
.dropdown-menu.show[aria-labelledby="themes"] {
	@extend .d-flex;
	@extend .flex-wrap;

	min-width: 330px;

	.dropdown-item {
		width: percentage(1 / 3);

		&:first-child {
			width: 100%;
		}
	}
}

// Add same margins between the navbar, the breadcrumb and the table.
.breadcrumb {
	margin-top: $breadcrumb-margin-bottom;
}

.table {
	// Hoverable rows
	@extend .table-hover;

	// Disable wrapping for all cells as responsive table is used
	td,
	th {
		@extend .text-nowrap;
	}

	// Links and texts have the same color
	a {
		@extend .text-reset;
	}

	// Directory icons are highlighted
	.fa-folder {
		@extend .text-primary;
	}

	// Expand the "Name" column
	tbody td:nth-child(2),
	thead th:nth-child(2) {
		@extend .w-100;
	}

	// Center the "Last modified" and "Size" column
	tbody td:nth-child(n+3),
	thead th:nth-child(n+3) {
		@extend .text-center;
	}

	// Increase spacing between the columns
	tbody td:not(:first-child),
	thead th:not(:first-child) {
		padding-left: 2 * $table-cell-padding;
	}

	// Expand the link to the whole row
	tbody tr {
		transform: rotate(0);

		a {
			@extend .stretched-link;
		}
	}
}
