@import "fontawesome/fontawesome";
@import "fontawesome/regular";
@import "fontawesome/solid";

@import "autoindex";
@import "error";

// Positioning:
// - Default <header>
// - Sticky <footer>
// - Remaining height for the <main>
html,
body {
	@extend .h-100;
}

body {
	@extend .d-flex;
	@extend .flex-column;

	> main {
		@extend .flex-grow-1;
	}

	> footer {
		@extend .mt-auto;
	}
}

// Navbar customization
.navbar {
	@extend .navbar-expand-lg;

	@extend #{$abba-navbar-class};
	@extend #{$abba-navbar-bg-class};

	// Limit logo height
	.navbar-brand img {
		height: $navbar-brand-height;
	}

	// Put filter to the right
	.navbar-collapse > div:only-child {
		margin-left: auto;
	}
}

// Footer customization
footer > .container {
	@extend .py-3;
	@extend .text-center;

	a {
		@extend .text-muted;
		@extend .text-decoration-none;

		.fa-heart {
			@extend .text-danger;
		}
	}
}

// Display the themes on 3 columns
.dropdown-menu.show[aria-labelledby="themes"] {
	@extend .d-flex;
	@extend .flex-wrap;

	@include media-breakpoint-up(lg) {
		width: 420px;
	}

	.dropdown-item {
		width: percentage(1 / 3);

		&:first-child {
			width: 100%;
		}
	}

	.dropdown-divider {
		width: 100%;
	}
}
