@import url("https://fonts.googleapis.com/css?family=Lato:400,500,900");

@font-face {
	font-family: 'icon';
	src: url("#{$icon-font-path}index.eot?sqzzoy");
	src: url("#{$icon-font-path}index.eot?sqzzoy#iefix") format("embedded-opentype"),
	url("#{$icon-font-path}index.ttf?sqzzoy") format("truetype"),
	url("#{$icon-font-path}index.woff?sqzzoy") format("woff"),
	url("#{$icon-font-path}index.svg?sqzzoy#index") format("svg");
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icon' !important;
	display: inline-block;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-clipboard:before		{ content: "\f035"; }
.icon-heart:before		{ content: "\e9da"; }
.icon-github-text:before	{ content: "\f092"; }
.icon-github:before		{ content: "\f00a"; }
.icon-linkedin:before		{ content: "\eaca"; }
.icon-stackoverflow:before	{ content: "\ead0"; }

@mixin link($color) {
	a {
		text-decoration: none;
		color: $color;

		&:active,
		&:focus,
		&:hover,
		&:link,
		&:visited {
			color: $color;
			text-decoration: none;
		}
	}
}

header {
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;

	h1 {
		font-size: 64px;
		font-weight: 900;
	}

	h2, h3 {
		font-weight: 500;
	}
}

section {
	@extend .container;

	@media (max-width: $screen-xs-max) {
		margin-top: 40px;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		margin-top: 70px;
	}

	@media (min-width: $screen-md-min) {
		margin-top: 100px;
	}

	h1 {
		text-align: left;

		@media (min-width: $screen-sm-min) {
			text-align: center;
		}
	}

	.caption {
		padding-bottom: 10px;
		text-align: justify;
	}

	> .left, > .right {
		.caption {
			@media (min-width: $screen-sm-min) {
				padding-top: 30px;
			}
		}
	}

	> .left, > .right, > .center {
		@extend .row;
	}

	> .left {
		> .caption {
			@extend .col-md-4;

			@extend .col-sm-5;

			@media (min-width: $screen-sm-min) {
				> h1 {
					text-align: left;
				}
			}
		}

		> .media {
			@extend .col-md-6;

			@extend .col-md-offset-2;

			@extend .col-sm-7;
		}
	}

	> .right {
		> .caption {
			@extend .col-md-4;

			@extend .col-md-offset-1;

			@extend .col-sm-push-7;

			@extend .col-sm-5;

			@media (min-width: $screen-sm-min) {
				> h1 {
					text-align: right;
				}
			}
		}

		> .media {
			@extend .col-md-6;

			@extend .col-sm-pull-5;

			@extend .col-sm-7;
		}
	}

	> .center .caption {
		@extend .col-md-8;

		@extend .col-md-offset-2;

		@extend .col-sm-10;

		@extend .col-sm-offset-1;
	}

	.media {
		img {
			width: 100%;
		}

		.navigator {
			width: 100%;
			height: 0;
			padding-bottom: 53%;

			&:before {
				display: block;
				width: 100%;
				height: 0;
				padding-bottom: 5.3%;
				background-image: url(/examples/navigator.png);
				background-size: cover;
				content: '';
			}

			img {
				border-right: 1px solid $gray-lighter;
				border-bottom: 1px solid $gray-lighter;
				border-left: 1px solid $gray-lighter;
				border-radius: 0 0 4px 4px;
			}
		}

		.slide {
			h1 {
				text-align: center;
				font-size: $font-size-h3;
			}

			@include link($text-color);
		}
	}

	#one-liner {
		margin: 30px 0;

		input {
			font-family: $font-family-monospace;
			text-align: center;
		}
	}

	&#awesome-autoindex {
		margin-top: 50px;
	}
}

#fork-me {
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid $gray-lighter;
	border-bottom: 1px solid $gray-lighter;
	text-align: center;
}

footer {
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid $gray-lighter;

	.left, .right {
		padding: 20px;

		@extend .col-md-6;
	}

	.left {
		@media (max-width: $screen-xs-max) {
			text-align: center;
		}

		@media (min-width: $screen-sm-min) {
			text-align: left;
		}

		.icon {
			color: $brand-primary;
		}
	}

	.right {
		@media (max-width: $screen-xs-max) {
			text-align: center;
		}

		@media (min-width: $screen-sm-min) {
			text-align: right;
		}

		.icon {
			font-size: (4em / 3);
			line-height: (3em / 4);
			vertical-align: -15%;
			width: (18em / 14);
			text-align: center;
		}
	}
}

header, footer {
	@include link($link-color);
}
