.navbar-brand {
	text-transform: uppercase;

	.icon-abba {
		margin-right: $navbar-padding-horizontal;

		@include icon-lg;
	}
}

.breadcrumb {
	white-space: nowrap;
	overflow-x: auto;

	@media (max-width: $screen-xs-max) {
		li {
			&:nth-child(n + 2) {
				display: none;
			}

			&:nth-last-child(-n + 2) {
				display: inline-block;
			}

			&:nth-last-child(2)::before {
				content: '...';
			}
		}
	}

	.icon-home {
		@include icon-lg;
	}
}

.table {
	.icon {
		margin-right: $table-cell-padding;
		@include icon-fw;
	}
}
