.navbar-brand {
	white-space: nowrap;
	overflow: hidden;
	text-transform: uppercase;

	.icon-abba {
		margin-right: $navbar-padding-horizontal;

		@include icon-lg;
	}
}

.breadcrumb {
	white-space: nowrap;
	overflow-x: auto;

	@media (max-width: $screen-xs-max) {
		li {
			&:nth-child(n + 2) {
				display: none;
			}

			&:nth-last-child(-n + 3) {
				display: inline-block;
			}

			&:nth-last-child(3) {
				visibility: hidden;
				width: 19px;

				&::before {
					visibility: visible;
					content: '...';
				}
			}

			&:first-child {
				visibility: visible;
				width: 19px;

				&::before {
					content: none;
				}
			}
		}
	}

	.icon-home {
		@include icon-lg;
	}
}

.table {
	white-space: nowrap;
	overflow-x: auto;

	.icon {
		@include icon-fw;
	}

	thead .icon {
		margin-left: $table-cell-padding;
	}

	tbody .icon {
		margin-right: $table-cell-padding;
	}
}
