<table>
	<tr><th><a href="?C=N;O=D">Name</a></th><th><a href="?C=M;O=A">Last modified</a></th><th><a href="?C=S;O=A">Size</a></th></tr>
	<tr><td><a href="/">Parent Directory</a></td><td>&nbsp;</td><td align="right">  - </td></tr>
	<tr><td><a href="subdirectory/">subdirectory/</a></td><td align="right">2016-02-15 16:18  </td><td align="right">  - </td></tr>
	<tr><td><a href="one">one</a></td><td align="right">2016-02-15 16:18  </td><td align="right">  4 </td></tr>
	<tr><td><a href="two">two</a></td><td align="right">2016-02-15 16:18  </td><td align="right">  4 </td></tr>
</table>
