<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="version" content="{{ site.github.build_revision }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<title>{{ page.title }}</title>
	<link href="{{ page.assets }}/css/{{ page.css }}.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="{{ page.assets }}/js/iefix.js"></script>
	<![endif]-->
</head>
<body>
