<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ page.asset_dir }}/css/{{ page.css_filename }}">
{% if page.is_preview %}
	<title>ABBA - {{ page.css_filename | remove: ".css" | capitalize }}</title>
{% else %}
	<title>{{ page.title }}</title>
{% endif %}
	<link rel="icon" type="image/svg+xml" href="{{ page.asset_dir }}/images/favicon.svg">
	<link rel="alternate icon" href="{{ page.asset_dir }}/images/favicon.ico">
</head>
<body>
{% include html/body/header.html %}
