---
layout: starter
---
  <table>
   <tr><th valign="top"><img src="data:," alt="[ICO]"></th><th><a href="#">Name</a></th><th><a href="#">Last modified</a></th><th><a href="#">Size</a></th></tr>
<tr><td valign="top"><img src="data:," alt="[parent]"></td><td><a href="#">Parent Directory</a></td><td>&nbsp;</td><td align="right">  - </td></tr>
<tr><td valign="top"><img src="data:," alt="[directory]"></td><td><a href="#">bar/</a></td><td align="right">2020-09-04 09:09  </td><td align="right">  - </td></tr>
<tr><td valign="top"><img src="data:," alt="[directory]"></td><td><a href="#">foo/</a></td><td align="right">2020-09-12 12:23  </td><td align="right">  - </td></tr>
<tr><td valign="top"><img src="data:," alt="[archive]"></td><td><a href="#">archive.zip</a></td><td align="right">2020-09-04 09:09  </td><td align="right">434M</td></tr>
<tr><td valign="top"><img src="data:," alt="[audio]"></td><td><a href="#">audio.mp3</a></td><td align="right">2020-09-04 13:09  </td><td align="right">136K</td></tr>
<tr><td valign="top"><img src="data:," alt="[word]"></td><td><a href="#">document.doc</a></td><td align="right">2020-09-12 12:23  </td><td align="right"> 37K</td></tr>
<tr><td valign="top"><img src="data:," alt="[text]"></td><td><a href="#">document.log</a></td><td align="right">2020-09-14 06:43  </td><td align="right"> 66K</td></tr>
<tr><td valign="top"><img src="data:," alt="[pdf]"></td><td><a href="#">document.pdf</a></td><td align="right">2020-09-12 12:23  </td><td align="right">699K</td></tr>
<tr><td valign="top"><img src="data:," alt="[excel]"></td><td><a href="#">document.xlsx</a></td><td align="right">2020-09-12 12:23  </td><td align="right"> 46K</td></tr>
<tr><td valign="top"><img src="data:," alt="[image]"></td><td><a href="#">image.png</a></td><td align="right">2020-09-04 09:08  </td><td align="right">3.4K</td></tr>
<tr><td valign="top"><img src="data:," alt="[   ]"></td><td><a href="#">other.file</a></td><td align="right">2020-09-14 09:20  </td><td align="right">7.7K</td></tr>
<tr><td valign="top"><img src="data:," alt="[video]"></td><td><a href="#">video.mkv</a></td><td align="right">2020-09-04 09:10  </td><td align="right">1.2G</td></tr>
</table>
